* {
    margin: 0;
    box-sizing: border-box;
  }
  
  *:focus {
    outline: none;
  }
  
  body,
  html {
    height: 100%;
    font-weight: 400;
    font-family: 'Golos Text', serif;
    font-size: 18px;
    line-height: 22px;
    color: #313131;
  }

  .wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
  }
  
  main {
    flex: 1 1 auto;
    padding: 0 0 147px  0;
  }
  
  .container {
    max-width: 1240px;
    padding: 0 20px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  h1{
    font-family: 'Merriweather', serif;
    font-size: 60px;
    line-height: 66px;
  }

  h2{
    font-family: 'Merriweather', serif;
    font-size: 36px;
    line-height: 48.6px;
  }
// img{
//   width: 100%;
// }
  @media screen and (max-width:991px) {
    h1{
      font-size: 36px;
      line-height: 40px;
    }
    h2{
      font-size: 28px;
      line-height: 37px;
    }
  }
  